body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling due to background stars */
}

.container {
  width: 90%;
  margin: auto;
  position: down;
  z-index: 1; /* Ensure content is on top of background stars */
}

header {
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
  margin-bottom: 30px;
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

#description {
  font-size: 1.1em;
  margin-top: 5 px;
  line-height: 1.3;
}

#gameArea {
  background-color: #333;
  padding: 0.5 px;
  border-radius: 1 px;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.3);
  position: relative;
  height: 300px; /* Ensure enough height for positioning */
  overflow: hidden; /* Hide overflow for stars */
  background-image: url("stars.png"); /* Star background */
  background-size: cover;
  background-blur: 10 px;
}

#starCount {
  margin-top: 30px;
  font-size: 4em;
  color: #f0f0f0;
  position: relative;
  z-index: 1;
}

#stars {
  font-weight: bold;
}

#clickButton {
  background-color: #80000;
  color: #1f51ff;
  border: none;
  padding: 20px 50px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 10px;
  position: absolute;
  bottom: 70px; /* Position button at the bottom */
  left: 50%;
  transform: translateX(-50%);
  color: #1f51ff;
  z-index: 1; /* Ensure it is behind other elements */
}

#clickButton:glow {
  background-color: #555;
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.5);
}

#userIdDisplay {
  margin-top: 20px;
  font-size: 1.3em;
  color: #0000ff;
  font-weight: bold;
}

#referral {
  margin-top: 30px;
}

#referralLink {
  padding: 15px;
  border: 1px solid #555;
  border-radius: 10px;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 1.1em;
  width: 70%;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

#copyReferralLink {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

#copyReferralLink:hover {
  background-color: #666;
}

footer {
  margin-top: 30px;
  font-size: 0.8em;
  color: #ccc;
}

#backgroundStars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("stars.png"); /* Make sure to add a star pattern image */
  background-size: cover;
  opacity: 0.3; /* Adjust opacity as needed */
  z-index: 0; /* Ensure background stars are behind content */
}
